 *{
  padding: 0;
  margin: 0;
 }
.width{
  max-width: 1600px;
  margin: auto;
}
 /* shere code */
 .hire{
  background: rgba(253, 110, 10, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}
 .card{
  background: #FFFFFF;
  padding: 15px;
  box-shadow: 10px 10px 20px grey;
  text-align: left;
 }
 .card img{
  width: 35px;
  height: 35px;
 
 }

 .open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
  background: rgba(255, 248, 243, 1);
  background: url("../images/developer.png"), url('../images/header_bg.png');
  background-position:top left , bottom right;
  background-repeat: no-repeat;

}
ul li{
  list-style: none;

}
ul li a{
  text-decoration: none;
   color: rgba(0, 0, 0, 1);
}
.r{
  color: rgba(253, 110, 10, 1);
}
.mary{
font: bold;
font-size: 45px;
}
.menu{
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
/* banner */
.hi{
  color: rgba(71, 71, 71, 1);
  font-size: 30px;
  font-weight: 400
}
.marry{
  font-size: 50px;
  font-weight: 600;
  color: black;
}
#main-container{

}
.image{
width: 584px; 
vertical-align: middle;
}
.baner-container{
  display: flex ;
  align-items: center;
  width: 1400px;
  margin-left: auto;
  
}
.baner-container img{
 
}
.p{
  color: rgba(117, 117, 117, 1);
  font-size: 18px;
  margin-bottom: 10px;
}
.text{
  max-width: 50%;
}
/* about me */
.about{
  text-align: center;
  background: #FFF8F3;
  margin: 80px 100px;
  padding: 40px 60px;

  
}
.about p{
color: #757575;
font-size: 15px;
text-align: justify;
margin: 15px 0;
}
.about h1{
  font-size: 30px;
  color:#181818 ;
  
}
.about-info{
  display: flex;

justify-content: space-between;
}
.about-info h3{
  color: #757575;
  font-size: 18px;
}
.about-info b{
  color: #474747;
  font-size: 15px;
  
}
/* What i do */
.what-i-do h1{
color: #181818;
font-size: 25px;
margin-top: 40px;
}
.what-i-do p{
  color: #757575;
  font-size: 13px;
  margin: 15px 0;
  text-align: left;
}
.what-i-do{
  text-align: center;
  margin: 0 100px;
}

.main-card{
  display: flex;
  justify-content: space-between;
  gap: 10px;

}
/* resume */
.resume{
  display: flex;
  gap: 20px;
  margin: 0 100px;
}
.resumeh1{
  text-align: center;
  color: #181818;
  font-size: 30px;
  margin: 100px 0 50px 0;
}
.resume h1{
  color: #474747;
  font-size: 30px;
  font-weight: bold;
}
.resume h2{
  color: #474747;
  font-weight: bold;
  margin-top: 20px;
  font-size: 25px;
}
.resume p{
  font-size: 16px;
  color: #757575;
  margin: 30px 0;

}
.resume span{
  color: #757575;
  font-size: 20px;
  margin-top: 15px;
}
.btn{
  margin: 30px 0;
  max-width: 100%;
  text-align: center;
}
/* footer */
.fmain-container{
  display: flex;
  justify-content: space-around;
  margin: 100px;

}
.f-left{
  width: 50%;
}
.input{
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  color: #FFFFFF;
  border: none;
}
footer{
  background: #FFF8F3;
  padding: 150px 0;
}
footer h1{
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer p{
  color: #474747;
  font-size: 16px;
  margin-bottom: 30px;
}
footer img{
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}
